In [5]:
# Import Dependencies
import pandas as pd
import os

In [6]:
# Path and filename for the file to Load
good_reads="Resources/books_clean.csv"

# Read the modified GoodReads csv and store into Pandas DataFrame
goodReads_df=pd.read_csv(good_reads,encoding="utf-8")

goodReads_df.head()

,ISBN,Publication Year,Original Title,Authors,One Star Reviews,Two Star Reviews,Three Star Reviews,Four Star Reviews,Five Star Reviews
0,439023483,2008.0,The Hunger Games,Suzanne Collins,66715,127936,560092,1481305,2706317
1,439554934,1997.0,Harry Potter and the Philosopher's Stone,"J.K. Rowling, Mary GrandPré",75504,101676,455024,1156318,3011543
2,316015849,2005.0,Twilight,Stephenie Meyer,456191,436802,793319,875073,1355439
3,61120081,1960.0,To Kill a Mockingbird,Harper Lee,60427,117415,446835,1001952,1714267
4,743273567,1925.0,The Great Gatsby,F. Scott Fitzgerald,86236,197621,606158,936012,947718

In [7]:
# Calculate the number of unique authors in the DataFrame
count=goodReads_df["Authors"].nunique()
count

4664

In [9]:
# Calculate the earliest year a book was published
earliest_year=goodReads_df["Publication Year"].min()
earliest_year

-1750.0

In [10]:
# Calculate the latest year a book was published
latest_year=goodReads_df["Publication Year"].max()
latest_year

2017.0

In [11]:
# Calculate the total reviews column that contains the sum of reviews for each row
# Hint: use the pandas' sum(axis='columns') to get the sum across the columns 

reviews_df=goodReads_df[["One Star Reviews","Two Star Reviews","Three Star Reviews",
                           "Four Star Reviews","Five Star Reviews"]]
reviews_df.head()
total_reviews_col = goodReads_df.sum(axis='columns')
total_reviews_col

0       4944373.0
1       4802062.0
2       3918829.0
3       3342856.0
4       2775670.0
          ...
9995      20866.0
9996      14942.0
9997      12710.0
9998      14005.0
9999      11698.0
Length: 10000, dtype: float64

In [12]:
# Create a `total_reviews` variable that sums up the values from your new `Total Reviews` column in the DataFrame
total_reviews=total_reviews_col.sum()
total_reviews

616651471.0

In [13]:
# Place all of the data found into a summary DataFrame
summary_df=pd.DataFrame({"No. Unique Authors ":[count],
                         "Earliest Publication " :[earliest_year],
                         "Latest Publication: " :[latest_year],
                         "Total Reviews: ": [total_reviews]
})

# Show the DataFrame
summary_df

,No. Unique Authors,Earliest Publication,Latest Publication:,Total Reviews:
0,4664,-1750.0,2017.0,616651471.0